.customer-new, .customer-show, .customer-edit {

  input[type=checkbox] {
    padding: 10px;
  }
}

// New Page
.customer-new, .customer-edit {

  .inline-heading {
    input[type=checkbox] {
      margin-left: 10px; 
    }
  }

  .panel-body{

    .check-box {
      input[type=checkbox] {
        display: inline;
      }
    }

    textarea {
      height: 100px;
      border-radius: 4px !important;
    }
  }
}

// Show Page
.customer-show {

  .well-sm {
    background-color: #fff;
    padding: 0 10px;
    margin: 0 0 50px 0;
  }
}

