.dashboard {

  .db-title {
    padding-top: 20px;

    .glyphicon {
      font-size: 28px;
      margin-right: 10px; 
    }

    h1 {
      display: inline;
    }

    .glyphicon-pencil {
      font-size: 20px; 
      margin-left: 5px;
    }
  }

  .well {
    ul {
      margin-bottom: 0px;
    }
  }


  .db-controls {
    padding-left: 0px;

    .db-control {

      &:after{
        content: ' | '
      }

      &:first-child:after {
        content: ' '
      }

      &:last-child:after {
        content: ''
      }
    }
    .glyphicon {
      margin-right: 5px;
    }
  }

  .db-buttons {
    margin: 40px 0;
    
    .db-button {
      margin-right: 10px;

      .btn {
        margin-top: -18px;
      }
    }
  }

  .row {
    margin-bottom: 25px;
  }

  .section-title {
    padding-bottom: 10px;

    .glyphicon {
      font-size: 25px;
      margin-right: 10px; 
    }

    h2 {
      display: inline;
    }

    .glyphicon-pencil {
      font-size: 12px; 
      margin-left: 8px;
    }
  }

  .panel-title{

    .glyphicon {
      font-size: 14px;
      margin-right: 10px; 
    }

    h3 {
      display: inline;
    }
  }
}