// Custom Icons
.icon-email {
  font-weight: bold;
  font-size: 18px;
  
  &:before {
    content: '@'
  }
}

.icon-dollar {
  font-weight: bold;
  font-size: 18px;
  
  &:before {
    content: '$'
  }
}

.green {
  color: #5cb85c;
}

.red {
  color: #d9534f;
}