/* Large desktop */
@media (min-width: 1200px) { 


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

  .main {
    margin-left: 16%;
    margin-right: 15px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

  .container-fluid { 
    padding-left: 0px; 
    padding-right: 0px;
  }

  .main {
    margin-left: 0px;
    padding-left: 4px;
    padding-right: 4px;
  }


  .navbar-fluid {
    padding-left: 4px;
    padding-right: 4px;    
  }
}

/* Landscape phones and down */
@media (max-width: 480px) { 

}