.menu-index, .menu-show, .menu-new, .menu-edit {
  min-height: 600px;

  .page-heading {
    margin-bottom: 10px;
  }
  .menu-title {
    margin: 10px 0;

    .id {
      margin-right: 10px;
    }

    h3 {
      display: inline;
    }

    .action {
      margin-left: 10px;
    }
  }

  .inline-list {

    li {
      &:after{
        content: ' | '
      }

      &:last-child:after {
        content: ''
      }
    }
  }
}
