// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap/variables";

.order-form {
  
  .panel-body {

    > .row {
      margin-bottom: 10px;    
    }

    .row {
      margin-left: auto;
      margin-right: auto;
    }

    #order_confirmed {
      margin-top: 11px;
      margin-left: 13px;
    }

    .line-item {
      margin-bottom: 5px;
    }

    .order-notes {
      .form-group {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }

  @media (max-width: $screen-xs-max) { 
    .panel-body {


      .line-items {
        margin-left: 5px;

        .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7 {
          margin-right: 5px;
          padding-left: 0px;
          padding-right: 0px;
        }

        .delete {
          max-width: 20px;
          margin-right: 0px;
        }
      }
    }
  }
}