.select2-container {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.select2-input-group-addon {
  padding-top: 4px !important;
  padding-top: 4px !important;
}